body { background-color:#E59866; }
.contenido {color: ##010101;}
img {width:400px;
height:300px;}
p{ font-size: 20px}
p{font-style: oblique;}
sub{font-style: oblique;}
sub{font-size: 20px}
.contenido{font-size: 20px}
.contenido{font-style: oblique;}
#titulo{text-decoration: underline;}
.titulo2{text-decoration: underline;}
#titulo{text-align: left;}
.titulo3{text-decoration: underline;}
.titulo4{text-decoration: underline;}
.titulo3{font-size: 20px}
.lista{font-size: 20px}
.lista2{font-size: 20px}
.titulo4{font-size: 20px}
